
img{
    width: 80%;
    height: 150px;
}

.gridBlock{
    display: grid;
    grid-template-columns: 2fr  1fr 4fr ;
}

button{
    margin-right: 10px;
}
.primary{
    background: white;
    color: #dc3545;
    border: #dc3545;
}
.primary:hover{
    background: #dc3545;
}

.details{
    font-size: 0.8rem !important;
}

