.scroll{
    position: fixed;
    bottom: 20%;
    left: 85%;
    z-index: 1;
 

}

.scroll .icon{
    margin-top: 10px;
    animation: scrollTop 0.5s alternate ease infinite;
}

@keyframes scrollTop{
    from{
        transform:translateY(2px);
    }
    to{
        transform:translateY(-1px);
    }
}